
.row{
    margin-left: 20px;
    color:white;
}


.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar{
    display: none;/*we wont see the scroll bar*/
}


.row_poster {
    width:100%;
    object-fit: contain;
    max-height: 100px;/*images are in column*/
    transition: transform 450ms;/*images pop up in a calmer way*/
    margin-right: 10px;
}

.row_poster:hover { /* want our image to pop up */
    transform: scale(1.08);

}

.row_posterLarge{
    max-height: 250px;

}

.row_posterLarge:hover{
    transform: scale(1.09);

}